Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
gnome-doc-utils.make
help/Makefile
help/Makefile.in
help/terminatorX-manual-C.omf
icons/Makefile
icons/Makefile.in
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/icons/Makefile
src/icons/Makefile.in
src/license.c
src/*.o
src/terminatorX
stamp-h1
terminatorX.1
terminatorX.keys
terminatorX.spec
