[Desktop Entry]
Version=1.0
Exec=terminatorX
Encoding=UTF-8
Name=terminatorX
GenericName=Virtual turntable
Comment=Versatile DJ scratching and mixing application.
Terminal=false
Type=Application
Icon=terminatorX
Categories=Application;AudioVideo;
StartupNotify=true
