Source: terminatorx
Section: sound
Priority: optional
Maintainer: Adrian Reber <adrian@lisas.de>
Build-Depends: autoconf, automake, debhelper (>> 3.0.0), libgtk1.2-dev, libglib1.2-dev, xlibs-dev, libc6-dev, libstdc++2.10-dev, ladspa-sdk, sox, mpg321
Standards-Version: 3.2.1

Package: terminatorx
Architecture: any
Depends: ${shlibs:Depends}
Description: Realtime Audio Synthesizer
 terminatorX is a realtime audio synthesizer that allows you to "scratch" on
 digitally sampled audio data (*.wav, *.au, *.mp3, etc.) the way hiphop-DJs
 scratch on vinyl records. It features multiple turntables, realtime effects
 (buit-in as well as LADSPA plugin effects), a sequencer and an easy-to-use
 gtk+ GUI.
